<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ezMigrate</title>
</head>
<body>

<h1> There is going to be a one-page gadget website.</h1>

<ul>
    <li><a href="{% url 'new_configuration' %}"> new configuration URL</a> : {% url 'new_configuration' %}</li>
    <li><a href="{% url 'edit_configuration' %}"> edit configuration URL</a> : {% url 'edit_configuration' %}</li>
    <li><a href="{% url 'fetch_configuration' %}"> fetch configuration URL</a> : {% url 'fetch_configuration' %}</li>
</ul>

</body>
</html>